name: Recovery Build

on:
  workflow_dispatch:
    inputs:
      SYNC_URL:
        description: 'SYNC_URL'
        required: true
        default: 'https://gitlab.com/OrangeFox/sync.git'
      MANIFEST_BRANCH:
        description: 'MANIFEST_BRANCH'
        required: true
        default: '9.0'
      DEVICE_TREE_URL:
        description: 'DEVICE_TREE_URL'
        required: true
        default: 'https://github.com/try-01/ofrp_device_realme_RMX1805'
      DEVICE_TREE_BRANCH:
        description: 'DEVICE_TREE_BRANCH'
        required: true
        default: 'fox_9.0_P'
      DEVICE_PATH:
        description: 'DEVICE_PATH'
        required: true
        default: 'device/realme/RMX1805'
      DEVICE_NAME:
        description: 'DEVICE_NAME'
        required: true
        default: 'RMX1805'
      MAKEFILE_NAME:
        description: 'MAKEFILE_NAME'
        required: true
        default: 'omni_RMX1805'
      BUILD_TARGET:
        description: 'BUILD_TARGET'
        required: true
        default: 'recovery'

jobs:
  build:
    if: github.event.repository.owner.id == github.event.sender.id
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
    - name: Check Out
      uses: actions/checkout@v4

    - name: Cleanup
      uses: rokibhasansagar/slimhub_actions@main

    - name: Initialize workspace
      run: |
        mkdir workspace
        cd workspace
        echo "workspace-folder=$(pwd)" >> $GITHUB_OUTPUT
      id: pwd

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '8'

    - name: Force Git to use HTTPS for GitLab
      run: git config --global url."https://gitlab.com/".insteadOf "git@gitlab.com:"

    - name: Prepare the build environment
      run: |
        export JAVA_HOME=/usr/lib/jvm/temurin-8-jdk-amd64
        sudo apt install git aria2 -y
        git clone https://gitlab.com/OrangeFox/misc/scripts
        cd scripts
        sudo bash setup/android_build_env.sh
        sed -i 's/cd -/cd ../g' setup/install_android_sdk.sh
        sudo bash setup/install_android_sdk.sh
      working-directory: ${{ steps.pwd.outputs.workspace-folder }}

    - name: Sync OrangeFox sources and minimal manifest
      run: |
        cd ${{ steps.pwd.outputs.workspace-folder }}
        git clone ${{ github.event.inputs.SYNC_URL }}
        cd sync/legacy
        ./orangefox_sync_legacy.sh --branch ${{ github.event.inputs.MANIFEST_BRANCH }} --path ${{ steps.pwd.outputs.workspace-folder }}/fox_${{ github.event.inputs.MANIFEST_BRANCH }}
      working-directory: ${{ steps.pwd.outputs.workspace-folder }}

    - name: Clone device tree
      run: |
        cd ${{ steps.pwd.outputs.workspace-folder }}/fox_${{ github.event.inputs.MANIFEST_BRANCH }}
        git clone ${{ github.event.inputs.DEVICE_TREE_URL }} -b ${{ github.event.inputs.DEVICE_TREE_BRANCH }} ./${{ github.event.inputs.DEVICE_PATH }}
      working-directory: ${{ steps.pwd.outputs.workspace-folder }}

    - name: Set Swap Space
      uses: pierotofy/set-swap-space@master
      with:
        swap-size-gb: 12

    - name: Set up Python 2
      run: |
        sudo apt-get update
        sudo apt-get install -y python2
        sudo ln -sf /usr/bin/python2 /usr/bin/python
      continue-on-error: true

    - name: Patch Android.mk for Keymaster 3 on Android 9
      shell: python3 {0}
      run: |
        import os

        # ==========================================
        # KONFIGURASI PATH
        # Sesuaikan base_path jika struktur folder Anda berbeda
        # Biasanya: work_dir/bootable/recovery/crypto
        # ==========================================
        base_path = "bootable/recovery/crypto"
        ext4_mk_path = os.path.join(base_path, "ext4crypt/Android.mk")
        fde_mk_path = os.path.join(base_path, "fde/Android.mk")

        print(f"Patching files in: {base_path}")

        # ==========================================
        # KONTEN BARU: ext4crypt/Android.mk
        # Sudah dimodifikasi untuk support TW_CRYPTO_USE_KEYMASTER_3
        # ==========================================
        ext4_content = r"""
        LOCAL_PATH := $(call my-dir)
        ifeq ($(TW_INCLUDE_CRYPTO), true)
        include $(CLEAR_VARS)

        LOCAL_MODULE := libe4crypt
        LOCAL_MODULE_TAGS := eng optional
        LOCAL_CFLAGS :=
        LOCAL_SRC_FILES := Decrypt.cpp ScryptParameters.cpp Utils.cpp HashPassword.cpp ext4_crypt.cpp
        LOCAL_SHARED_LIBRARIES := libselinux libc libc++ libext4_utils libbase libcrypto libcutils libkeymaster_messages libhardware libprotobuf-cpp-lite
        LOCAL_STATIC_LIBRARIES := libscrypt_static
        LOCAL_C_INCLUDES := system/extras/ext4_utils system/extras/ext4_utils/include/ext4_utils external/scrypt/lib/crypto system/security/keystore hardware/libhardware/include/hardware system/security/softkeymaster/include/keymaster system/keymaster/include

        ifneq ($(wildcard hardware/libhardware/include/hardware/keymaster0.h),)
            LOCAL_CFLAGS += -DTW_CRYPTO_HAVE_KEYMASTERX
            LOCAL_C_INCLUDES +=  external/boringssl/src/include
        endif

        ifeq ($(shell test $(PLATFORM_SDK_VERSION) -ge 26; echo $$?),0)
            # 8.0 or higher general libs
            LOCAL_CFLAGS += -DHAVE_GATEKEEPER1
            LOCAL_SHARED_LIBRARIES += libkeystore_binder libhidlbase libutils libbinder android.hardware.gatekeeper@1.0
            
            # --- PATCH START: CUSTOM LOGIC FOR ANDROID 9 KM3 ---
            ifeq ($(shell test $(PLATFORM_SDK_VERSION) -ge 28; echo $$?),0)
                # 9.0 (Pie) Rules
                ifeq ($(TW_CRYPTO_USE_KEYMASTER_3), true)
                    # Force Keymaster 3 on Pie
                    LOCAL_CFLAGS += -DUSE_KEYSTORAGE_3 -Wno-unused-variable -Wno-sign-compare -Wno-unused-parameter -Wno-comment
                    LOCAL_SRC_FILES += Ext4Crypt.cpp Keymaster3.cpp KeyStorage3.cpp
                    LOCAL_SHARED_LIBRARIES += android.hardware.keymaster@3.0 libkeyutils
                    LOCAL_CFLAGS += -DHAVE_LIBKEYUTILS
                    # Weaver support usually present in Pie
                    LOCAL_CFLAGS += -DHAVE_SYNTH_PWD_SUPPORT
                    LOCAL_SRC_FILES += Weaver1.cpp
                    LOCAL_SHARED_LIBRARIES += android.hardware.weaver@1.0
                else
                    # Standard Pie (Keymaster 4)
                    LOCAL_CFLAGS += -DUSE_KEYSTORAGE_4 -Wno-unused-variable -Wno-sign-compare -Wno-unused-parameter -Wno-comment
                    LOCAL_SRC_FILES += Ext4CryptPie.cpp Keymaster4.cpp KeyStorage4.cpp KeyUtil.cpp MetadataCrypt.cpp KeyBuffer.cpp
                    LOCAL_SHARED_LIBRARIES += android.hardware.keymaster@4.0 libkeymaster4support
                    LOCAL_SHARED_LIBRARIES += libkeystore_parcelables libkeystore_aidl
                    LOCAL_CFLAGS += -DHAVE_SYNTH_PWD_SUPPORT
                    LOCAL_SRC_FILES += Weaver1.cpp
                    LOCAL_SHARED_LIBRARIES += android.hardware.weaver@1.0
                    LOCAL_CFLAGS += -DHAVE_LIBKEYUTILS
                    LOCAL_SHARED_LIBRARIES += libkeyutils
                endif
            else
                # 8.0/8.1 Rules (Oreo)
                LOCAL_CFLAGS += -DUSE_KEYSTORAGE_3
                LOCAL_SRC_FILES += Ext4Crypt.cpp Keymaster3.cpp KeyStorage3.cpp
                LOCAL_SHARED_LIBRARIES += android.hardware.keymaster@3.0
                ifneq ($(wildcard hardware/interfaces/weaver/Android.bp),)
                    LOCAL_CFLAGS += -DHAVE_SYNTH_PWD_SUPPORT
                    LOCAL_SRC_FILES += Weaver1.cpp
                    LOCAL_SHARED_LIBRARIES += android.hardware.weaver@1.0
                endif
                ifneq ($(wildcard system/core/libkeyutils/Android.bp),)
                    LOCAL_CFLAGS += -DHAVE_LIBKEYUTILS
                    LOCAL_SHARED_LIBRARIES += libkeyutils
                endif
            endif
            # --- PATCH END ---

            ifeq ($(shell test $(PLATFORM_SDK_VERSION) -ge 28; echo $$?),0)
                LOCAL_REQUIRED_MODULES := keystore_auth
            else
                LOCAL_ADDITIONAL_DEPENDENCIES := keystore_auth
            endif
        else
            # 7.x rules
            LOCAL_SRC_FILES += Ext4Crypt.cpp Keymaster.cpp KeyStorage.cpp
        endif
        ifeq ($(shell test $(PLATFORM_SDK_VERSION) -lt 28; echo $$?),0)
            LOCAL_SHARED_LIBRARIES += libsoftkeymaster
        endif

        include $(BUILD_SHARED_LIBRARY)

        include $(CLEAR_VARS)
        LOCAL_MODULE := twrpfbe
        LOCAL_MODULE_TAGS := optional
        LOCAL_MODULE_CLASS := RECOVERY_EXECUTABLES
        LOCAL_MODULE_PATH := $(TARGET_RECOVERY_ROOT_OUT)/sbin
        LOCAL_SRC_FILES := main.cpp
        LOCAL_SHARED_LIBRARIES := libe4crypt
        include $(BUILD_EXECUTABLE)

        include $(CLEAR_VARS)
        LOCAL_MODULE := e4policyget
        LOCAL_MODULE_TAGS := optional
        LOCAL_MODULE_CLASS := RECOVERY_EXECUTABLES
        LOCAL_MODULE_PATH := $(TARGET_RECOVERY_ROOT_OUT)/sbin
        LOCAL_SRC_FILES := e4policyget.cpp
        LOCAL_SHARED_LIBRARIES := libe4crypt
        LOCAL_LDFLAGS += -Wl,-dynamic-linker,/sbin/linker64
        include $(BUILD_EXECUTABLE)

        include $(CLEAR_VARS)
        LOCAL_MODULE := keystore_auth
        LOCAL_MODULE_TAGS := optional
        LOCAL_MODULE_CLASS := RECOVERY_EXECUTABLES
        LOCAL_MODULE_PATH := $(TARGET_RECOVERY_ROOT_OUT)/sbin
        LOCAL_SRC_FILES := keystore_auth.cpp
        LOCAL_SHARED_LIBRARIES := libc libkeystore_binder libutils libbinder liblog
        ifeq ($(shell test $(PLATFORM_SDK_VERSION) -ge 28; echo $$?),0)
            LOCAL_CFLAGS += -DUSE_SECURITY_NAMESPACE
            LOCAL_SHARED_LIBRARIES += libkeystore_aidl
        endif
        LOCAL_LDFLAGS += -Wl,-dynamic-linker,/sbin/linker64
        include $(BUILD_EXECUTABLE)
        endif
        """

        # ==========================================
        # KONTEN BARU: fde/Android.mk
        # Sudah dimodifikasi untuk support TW_KEYMASTER_MAX_API=3
        # ==========================================
        fde_content = r"""
        LOCAL_PATH := $(call my-dir)
        ifeq ($(TW_INCLUDE_CRYPTO), true)
        include $(CLEAR_VARS)

        LOCAL_MODULE := libcryptfsfde
        LOCAL_MODULE_TAGS := eng optional
        LOCAL_SRC_FILES := cryptfs.cpp
        LOCAL_SHARED_LIBRARIES := libcrypto libhardware libcutils libstdc++
        LOCAL_STATIC_LIBRARIES := libscrypttwrp_static
        LOCAL_C_INCLUDES := external/openssl/include $(commands_recovery_local_path)/crypto/scrypt/lib/crypto
        ifeq ($(shell test $(PLATFORM_SDK_VERSION) -lt 23; echo $$?),0)
            LOCAL_C_INCLUDES += bionic external/stlport/stlport
            LOCAL_SHARED_LIBRARIES += libstlport
            LOCAL_CPPFLAGS := -std=c++11
        endif

        ifeq ($(OF_DISABLE_KEYMASTER2),1)
            LOCAL_CFLAGS += -DOF_DISABLE_KEYMASTER2='"1"'
        endif

        ifeq ($(shell test $(PLATFORM_SDK_VERSION) -ge 26; echo $$?),0)
            # 8.0 or higher
            LOCAL_C_INCLUDES +=  external/boringssl/src/include
            LOCAL_SHARED_LIBRARIES += libselinux libc libc++ libbase libcrypto libcutils libkeymaster_messages libhardware libprotobuf-cpp-lite libe4crypt libkeystore_binder libhidlbase libutils libbinder
            
            ifeq ($(shell test $(PLATFORM_SDK_VERSION) -ge 28; echo $$?),0)
                # 9.0 rules
                LOCAL_CFLAGS += -Wno-sign-compare -Wno-unused-parameter -Wno-comment -Wno-unused-variable
                
                # --- PATCH START ---
                ifeq ($(TW_CRYPTO_USE_KEYMASTER_3), true)
                    LOCAL_SHARED_LIBRARIES += android.hardware.keymaster@3.0 libkeyutils
                    LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=3
                else
                    LOCAL_SHARED_LIBRARIES += android.hardware.keymaster@4.0 libkeymaster4support libkeyutils
                    LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=4
                endif
                # --- PATCH END ---
            else
                # 8.x rules
                ifneq ($(wildcard system/core/libkeyutils/Android.bp),)
                    LOCAL_SHARED_LIBRARIES += libkeyutils
                endif
                LOCAL_SHARED_LIBRARIES += libsoftkeymaster android.hardware.keymaster@3.0
                LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=3
            endif
        else
            # <= 7.x rules
            ifneq ($(wildcard hardware/libhardware/include/hardware/keymaster0.h),)
                LOCAL_C_INCLUDES +=  external/boringssl/src/include
                LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=1
            else
                LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=0
            endif
        endif
        ifeq ($(TARGET_HW_DISK_ENCRYPTION),true)
            ifeq ($(TARGET_CRYPTFS_HW_PATH),)
                LOCAL_C_INCLUDES += device/qcom/common/cryptfs_hw
            else
                LOCAL_C_INCLUDES += $(TARGET_CRYPTFS_HW_PATH)
            endif
            LOCAL_SHARED_LIBRARIES += libcryptfs_hw
            LOCAL_CFLAGS += -DCONFIG_HW_DISK_ENCRYPTION
        endif

        include $(BUILD_SHARED_LIBRARY)

        include $(CLEAR_VARS)
        LOCAL_MODULE := twrpdec
        LOCAL_MODULE_TAGS := optional
        LOCAL_MODULE_CLASS := RECOVERY_EXECUTABLES
        LOCAL_MODULE_PATH := $(TARGET_RECOVERY_ROOT_OUT)/sbin
        LOCAL_SRC_FILES := main.cpp cryptfs.cpp
        LOCAL_SHARED_LIBRARIES := libcrypto libhardware libcutils libc libstdc++
        LOCAL_C_INCLUDES := external/openssl/include $(commands_recovery_local_path)/crypto/scrypt/lib/crypto
        ifeq ($(shell test $(PLATFORM_SDK_VERSION) -lt 23; echo $$?),0)
            LOCAL_C_INCLUDES += bionic external/stlport/stlport
            LOCAL_SHARED_LIBRARIES += libstlport
            LOCAL_CPPFLAGS := -std=c++11
        endif

        ifeq ($(shell test $(PLATFORM_SDK_VERSION) -ge 26; echo $$?),0)
            # 8.0 or higher
            LOCAL_C_INCLUDES +=  external/boringssl/src/include
            LOCAL_SHARED_LIBRARIES += libselinux libc libc++ libbase libcrypto libcutils libkeymaster_messages libhardware libprotobuf-cpp-lite libe4crypt libkeystore_binder libhidlbase libutils libbinder
            
            ifeq ($(shell test $(PLATFORM_SDK_VERSION) -ge 28; echo $$?),0)
                # 9.0 rules
                LOCAL_CFLAGS += -Wno-unused-variable -Wno-sign-compare -Wno-unused-parameter -Wno-comment
                
                # --- PATCH START ---
                ifeq ($(TW_CRYPTO_USE_KEYMASTER_3), true)
                    LOCAL_SHARED_LIBRARIES += android.hardware.keymaster@3.0 libkeyutils
                    LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=3
                else
                    LOCAL_SHARED_LIBRARIES += android.hardware.keymaster@4.0 libkeymaster4support libkeyutils
                    LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=4
                endif
                # --- PATCH END ---

            else
                # 8.x rules
                ifneq ($(wildcard system/core/libkeyutils/Android.bp),)
                    LOCAL_SHARED_LIBRARIES += libkeyutils
                endif
                LOCAL_SHARED_LIBRARIES += libsoftkeymaster android.hardware.keymaster@3.0
                LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=3
            endif
        else
            # <= 7.x rules
            ifneq ($(wildcard hardware/libhardware/include/hardware/keymaster0.h),)
                LOCAL_C_INCLUDES +=  external/boringssl/src/include
                LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=1
            else
                LOCAL_CFLAGS += -DTW_KEYMASTER_MAX_API=0
            endif
        endif
        ifeq ($(TARGET_HW_DISK_ENCRYPTION),true)
            ifeq ($(TARGET_CRYPTFS_HW_PATH),)
                LOCAL_C_INCLUDES += device/qcom/common/cryptfs_hw
            else
                LOCAL_C_INCLUDES += $(TARGET_CRYPTFS_HW_PATH)
            endif
            LOCAL_SHARED_LIBRARIES += libcryptfs_hw
            LOCAL_CFLAGS += -DCONFIG_HW_DISK_ENCRYPTION
        endif

        LOCAL_WHOLE_STATIC_LIBRARIES += libscrypttwrp_static
        include $(BUILD_EXECUTABLE)
        endif
        """

        # ==========================================
        # EKSEKUSI PENULISAN FILE
        # ==========================================
        
        # Tulis ext4crypt/Android.mk
        try:
            with open(ext4_mk_path, "w") as f:
                f.write(ext4_content)
            print(f"Success: Updated {ext4_mk_path}")
        except Exception as e:
            print(f"Error updating {ext4_mk_path}: {e}")

        # Tulis fde/Android.mk
        try:
            with open(fde_mk_path, "w") as f:
                f.write(fde_content)
            print(f"Success: Updated {fde_mk_path}")
        except Exception as e:
            print(f"Error updating {fde_mk_path}: {e}")

    - name: Patch Treble Stock Rom Ozip (Sed)
      run: |
        cd ${{ steps.pwd.outputs.workspace-folder }}/fox_${{ github.event.inputs.MANIFEST_BRANCH }}
        # Patch
        sed -i '/^bool verify_package_compatibility(ZipWrap \*zw) {/,/^}/c bool verify_package_compatibility(ZipWrap *zw) { // NOLINT\n   (void)zw; // Mark parameter as intentionally unused\n   printf("OrangeFox: Forcefully bypassing Treble compatibility check via patch.\\n");\n   return true;\n}' "./bootable/recovery/installcommand.cpp"
      working-directory: ${{ steps.pwd.outputs.workspace-folder }}

    - name: Build recovery
      run: |
        cd ${{ steps.pwd.outputs.workspace-folder }}/fox_${{ github.event.inputs.MANIFEST_BRANCH }}
        set +e
        source build/envsetup.sh
        export ALLOW_MISSING_DEPENDENCIES=true
        set -e
        lunch ${{ github.event.inputs.MAKEFILE_NAME }}-eng
        make clean && mka ${{ github.event.inputs.BUILD_TARGET }}image -j$(nproc --all)
      working-directory: ${{ steps.pwd.outputs.workspace-folder }}

    - name: Check the output directory before uploading
      run: |
        ls -al ${{ steps.pwd.outputs.workspace-folder }}/fox_${{ github.event.inputs.MANIFEST_BRANCH }}/out/target/product/
        echo
        ls -al ${{ steps.pwd.outputs.workspace-folder }}/fox_${{ github.event.inputs.MANIFEST_BRANCH }}/out/target/product/${{ github.event.inputs.DEVICE_NAME }}/

    - name: Upload to Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ${{ steps.pwd.outputs.workspace-folder }}/fox_${{ github.event.inputs.MANIFEST_BRANCH }}/out/target/product/${{ github.event.inputs.DEVICE_NAME }}/*.img
          ${{ steps.pwd.outputs.workspace-folder }}/fox_${{ github.event.inputs.MANIFEST_BRANCH }}/out/target/product/${{ github.event.inputs.DEVICE_NAME }}/*.zip
        name: ${{ github.event.inputs.DEVICE_NAME }}-${{ github.run_id }}
        tag_name: ${{ github.run_id }}
        body: |
          Manifest: ${{ github.event.inputs.MANIFEST_BRANCH }}
          Device: ${{ github.event.inputs.DEVICE_NAME }}
          Target: ${{ github.event.inputs.BUILD_TARGET }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
